<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Discord Drive</title>
</head>
<body>
    <table class="split-table" >
        <tr>
            <td colspan="2" class="top-cell">
                <div class="full-box top-bar-div">
                    <p class="top-bar-text">Discord Drive by Expiracy</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="left-cell">
                <div class="full-box sidebar-div">

                    <input type="text" class="text-input bottom-margin" placeholder="Search" id="search">

                    <div class="drag-drop" id="dragDrop">
                        Drag files here or click to upload
                    </div>

                    <input type="file" id="fileInput" style="display: none;"/>

                    <button type="submit" class="button top-margin" onclick="createFolder()">
                        <img src="{{url_for('static', filename='new_folder.png')}}" alt="New Folder" class="button-icon"/>
                        New folder
                    </button>
                </div>
            </td>
            <td class="right-cell">
                <div class="full-box directory-div" id="directory">
                    {{ directory_html | safe }}
                </div>
            </td>
        </tr>
    </table>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
