<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Discord Drive</title>
</head>
<body>
    <table class="split-table" >
        <tr>
            <td colspan="2" class="top-cell">
                <input type="text" class="text-input" placeholder="Search" id="search">
            </td>
        </tr>
        <tr>
            <td class="left-cell" rowspan="2">
                <div class="left-box">
                    <div class="drag-drop" id="dragDrop">
                        Drag files here or click to upload
                    </div>
                    <input type="file" id="fileInput" style="display: none;">
                    <button type="submit" class="button top-margin">New folder</button>
                </div>
            </td>
            <td class="right-cell">
                <div class="bottom-section" id="directory">
                    <button type="submit" class="button bottom-margin">Folder</button>
                </div>
            </td>
        </tr>
    </table>
    <script src="../static/script.js"></script>
</body>
</html>
