<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Here is my variable: {{ variable }}</p>

    <form action="/api/create_folder" method="GET">
        <label>
            Folder Name
            <input type="text" name="name">
        </label>
        <button type="submit">Submit</button>
    </form>

    <form action="/api/upload_files" method="post" enctype="multipart/form-data">
        <input type="file" name="files[]" id="files" multiple>
        <input type="submit" value="Upload">
    </form>

</body>
<script type="text/javascript" src="../static/script.js"></script>
</html>