<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Discord Drive</title>
</head>
<body>
    <div class="login-box" id="page">
        <label>
            <h1 class="center-text">Login</h1>
            <input type="text" class="text-input" placeholder="Username" id="username">
            <input type="password" class="text-input top-margin" placeholder="Password" id="password">
            <button type="submit" class="button top-margin" onclick="loginAccount()">Login</button>
            <button type="submit" class="button top-margin" onclick="registerAccount()">Register</button>
        </label>
    </div>

    <script src="../static/login.js"></script>
</body>
</html>
